!!!
%html
  %head
    %titleVideoApp
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = csrf_meta_tags

  %body
    %header
      =link_to "Home", videos_path, class: 'btn'
      - if user_signed_in?
        =link_to "Sign out", destroy_user_session_path
      - else
        =link_to "Sign in with Google", user_omniauth_authorize_path(:gplus)
        =link_to "Sign in", new_user_session_path
        =link_to "Sign up", new_user_registration_path

      =form_tag videos_path, :method => 'get' do
        =text_field_tag :search, params[:search], placeholder: 'Filter tags'
        =submit_tag "Search", class: 'button'

  = notice
  = alert
  = yield

